  .body-wrapper {
      padding: 10px 20px 0px 20px;
  }
  .problem-box {
      margin-left: 10px;
  }
  .problem-details {
      margin: 20px 0px 0px 10px;
  }
  .problem-result {
      margin-bottom: 8px;
  }
  .problem-score {
      margin-left: 5px;
  }
  .ans-box {
      width: calc(50% - 4px);
      display: inline-block;
  }
  .diff-box {
      width: calc(50% - 4px);
      display: inline-block;
      margin-right: 4px;
  }
  .tag-delete {
    color: white;
    background: #e74c3c;
  }
  .tag-replace {
    color: white;
    background: #2980b9;
  }
  .tag-insert {
    color: white;
    background: #27ae60;
  }